*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "rubik-regular";
  src: url(./assets/fonts/rubik/Rubik-Regular.ttf);
}

@font-face {
  font-family: "rubik-medium";
  src: url(./assets/fonts/rubik/Rubik-Medium.ttf);
}

@font-face {
  font-family: "rubik-semibold";
  src: url(./assets/fonts/rubik/Rubik-SemiBold.ttf);
}
@font-face {
  font-family: "rubik-bold";
  src: url(./assets/fonts/rubik/Rubik-Bold.ttf);
}

@font-face {
  font-family: "rubik-black";
  src: url(./assets/fonts/rubik/Rubik-Black.ttf);
}

body {
  margin: 0;
  overflow: auto;
  font-family: "rubik-regular";
}

.row{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.col{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
input:focus, select:focus, select, input.form-control:focus {
  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
 
}

button:focus, button:active,.btn-check:focus + .btn-secondary,.btn-check:active, .btn:active, .btn-secondary:focus, .btn-secondary:active, .btn:focus, .btn:active, .btn:hover, .btn {
  outline:none !important;
  outline-width: 0 !important;
  border-color: transparent;
  box-shadow: none;
}